html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

button {
    position: relative;
	background: #FF4A6D;
	border: 0;
	outline: 0;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	padding: 8px 15px;
	margin-top: 15px;
	cursor: pointer;
}

button:hover {
	box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}

button:active {
	top: 1px;
	box-shadow: none;
}

header {
	padding: 10px 0 0;
	text-align: center;
}

header h1 {
	font-family: 'Sue Ellen Francisco';
	font-size: 3em;
	text-transform: uppercase;
	color: #2E2C2C;
	line-height: 1em;
	letter-spacing: 4px;
}

header h1 .location {
	display: block;
	font-size: .4em;
	letter-spacing: 20px;
}

header h1 .year {
	display: block;
	letter-spacing: 10px;
}

header h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.1em;
	padding: 0 15px;
	margin-bottom: 50px;
}

header nav {
    position: absolute;
    left: 0;
    right: 0;
    background: #F9F7F5;
    min-width: 490px;
    z-index: 100;
}

.visible header nav {
    position: fixed;
    top: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,.13);
}

header nav > * {
    display: inline-block;
    vertical-align: middle;
}

header nav > a {
    font-size: 1.4em;
    font-weight: 700;
    color: #80BDBF;
    text-decoration: none;
    padding: 10px 8px;
}


header nav > a:first-child {
    font-size: .8em;
    width: 50px;
    line-height: 1em;
    text-align: left;
    padding: 13px 10px;
    text-transform: uppercase;
    color: #333;
    font-weight: 200;
}

header nav > a:hover {
    background: #eee;
}

#content {
	margin: 80px auto;
	width: 460px;
}

#content ul {
	margin: 0;
	padding: 0;
}

#content li {
	margin: 0 0 0 80px;
	width: 380px;
	list-style-type: none;
	background: #F9F7F5;
	position: relative;
	background-size: 380px auto;
	background-repeat: no-repeat;
	background-position: 0 80px;
	position: relative;
}

@media all and (min-width: 1020px) {
    #content {
        width: 1020px;
    }
    #content li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0 46px 0 80px;
    }
}

#content li a {
    display: block;
	text-decoration: none;
	color: #2E2C2C;
	outline: 0;
}

#content li a:before {
    content: "";
    display: block;
    height: 80px;
    background: #fff;
}

#content li .date {
	text-align: center;
	position: absolute;
	left: -85px;
	font-size: .7em;
	color: #80BDBF;
	font-weight: 200;
	border: 2px solid #80BDBF;
    border-top: 0;
	text-transform: uppercase;
	width: 65px;
	height: 62px;
}

#content li .time {
	text-align: center;
	position: absolute;
	left: -85px;
	top: 150px;
	font-size: .8em;
	color: #333;
	font-weight: 200;
	width: 65px;
}

#content li .date .day {
	display: block;
	font-size: 2.5em;
	line-height: 1em;
	font-weight: 700;
	padding-top: 2px;
}

#content li .date .weekday {
	display: block;
	font-size: .6em;
	background: #80BDBF;
	letter-spacing: 1px;
	font-weight: 200;
	padding: 1px;
	color: #fff;
}

#content li a[name=allweek] .date {
    background: #80BDBF;
    color: #fff;
}

#content li a[name=allweek] .date .day {
    font-size: 1.8em;
    font-weight: 700;
}

#content li h3 {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	min-height: 100px;
	color: #fff;
	text-shadow: 2px 2px 0 #222;
	font-size: 2.5em;
	font-weight: 200;
	padding: 15px 15px;
	line-height: .95em;
    background-image: linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,0) 100%);
}

#content li .location {
	font-size: .8em;
	font-weight: 200;
	padding: 10px 15px 0;
}

#content li p {
	padding: 240px 15px 15px;
	margin: 0;
}

#content li button {
	width: 100%;
}

#content li button:hover {
	background: #eb3055;
}

footer {
	border-top: 1px solid #ddd;
	background: #F9F7F5;
	bottom: 0px;
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
}
footer p {
	margin: 2em auto .2em;
	color: #2E2C2C;
	font-size: .9em;
	width: 460px;
}
footer button {
	font-size: .8em;
	background: #80BDBF;
}

footer button:hover {
    background: #73afb1;
}
