html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow-x: hidden;
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

button {
	background: #FF4A6D;
	border: 0;
	outline: 0;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	padding: 8px 15px;
	margin-top: 15px;
	cursor: pointer;
}

header {
	padding: 30px 0 0;
	text-align: center;
}

header h1 {
	font-family: 'Sue Ellen Francisco';
	font-size: 3em;
	text-transform: uppercase;
	color: #2E2C2C;
	line-height: 1.1em;
	letter-spacing: 4px;
}

header h1 span {
	display: block;
	letter-spacing: 10px;
}

header h2 {
	font-size: 1em;
	font-weight: 300;
}

#content {
	margin: 50px auto;
	width: 460px;
}

#content ul {
	margin: 0;
	padding: 0;
}

#content li {
	margin: 0 0 40px 80px;
	list-style-type: none;
	background: #F9F7F5;
	position: relative;
}

#content li a {
	text-decoration: none;
	color: #2E2C2C;
}

#content li .date {
	text-align: center;
	position: absolute;
	left: -85px;
	font-size: .7em;
	color: #80BDBF;
	font-weight: 200;
	padding: 4px 0 2px;
	border: 2px solid #80BDBF;
	border-top: 10px solid #80BDBF;
	text-transform: uppercase;
	width: 65px;
	height: 45px;
}

#content li .date .day {
	display: block;
	font-size: 1.6em;
	font-weight: 700;
}

#content li h3 {
	margin: 0;
	color: #80BDBF;
	font-size: 2.5em;
	font-weight: 200;
	padding: 5px 15px 0;
}

#content li .location {
	font-size: .8em;
	font-weight: 200;
	padding: 10px 15px 0;
}

#content li p {
	padding: 5px 15px 15px;
	margin: 0;
}

#content li button {
	width: 100%;
}

footer {
	border-top: 1px solid #ddd;
	background: #F9F7F5;
	bottom: 0px;
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
}
footer p {
	margin: 2em auto .2em;
	color: #2E2C2C;
	font-size: .9em;
	width: 460px;
}
footer button {
	font-size: .8em;
	background: #80BDBF;
}
